@font-face {
  font-family: 'ralewayregular';
  src: url('Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayitalic';
  src: url('Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaybold';
  src: url('Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}