@import fonts.sass
@import typography.sass

body
    font-family: Arial, Helvetica, sans-serif

.q-btn
    font-family: Arial, Helvetica, sans-serif
    text-transform: capitalize

.button-primary
    background: #571AFF
    border-radius: 4px
    color: white

.cursor-pointer
  cursor: pointer
    
.separator
    min-width: 100%
    min-height: 2px
    background: rgba(138, 101, 212, 0.1)
    border-radius: 4px

//hide unimplemented ui temporarily
.temp-hide
    visibility: hidden

.triangle
    width: 0
    height: 0
    border-left: 0px solid transparent
    border-right: 13rem solid transparent
    border-top: 37rem solid white
    right: 0px
    color: $primary