.text-h1
    font-size: 4.0rem
    font-family: "ralewaybold"

.text-h2
    font-size: 3.0rem 
    font-family: "ralewaybold"

.text-subtitle1
    font-size: 0.9rem
    font-family: "ralewayregular"
    color: grey-10

.text-subtitle2
    font-size: 0.65rem
    font-family: "ralewayregular"
    color: grey-14

.text-h5
    font-size: 2.0rem
    font-family: "ralewayitalic"

.text-h6
    font-size: 1.4rem
    font-family: "ralewaybold"

.text-body1
    font-size: 1.4rem
    font-family: "ralewayregular"

.text-body2
    font-size: 0.88rem
    font-family: "ralewayregular"

.text-caption
    font-size: 1.2rem
    font-family: "ralewayitalic"

.NFT-heading
    font-size: 1.75rem
    font-family: "ralewayregular"
    color: grey-10

.text-progress-title
    font-size: 0.60rem
    font-family: "arial"
    font-style: italic
    color: grey

.text-progress
    font-size: 0.65rem
    font-family: "arial"
    color: grey