
// TODO: Tweek the styling to match designs

h1
  font-size: 4.0rem
  font-family: "ralewaybold"

h2
  font-size: 3.0rem
  font-family: "ralewaybold"

h3
  font-size: 2.5rem
  font-family: "ralewayregular"

h4
  font-size: 2.0rem
  font-family: "ralewayregular"

h5
  font-size: 2.0rem
  font-family: "ralewayitalic"

h6
  font-size: 1.4rem
  font-family: "ralewaybold"

.text-NFTCard-heading
  font-size: 1.75rem
  font-family: "ralewayregular"

.text-NFTCard-price-head
  font-size: 0.9rem
  font-family: "ralewayregular"

.text-NFTCard-price-value
  font-size: 1.0rem
  font-family: "ralewayregular"

.text-subtitle1
  font-size: 0.875rem
  font-family: "ralewayregular"

.text-subtitle2
  font-size: 1.0rem
  font-family: "ralewayregular"
  
.text-progress-dates
  font-size: 0.8rem
  font-family: "arial"
  color: gray

.text-progress-subtitles
  font-size: 0.8rem
  font-family: "arial"
  color: gray

.text-body1
  font-size: 1.4rem
  font-family: "ralewayregular"

.text-body2
  font-size: 1.2rem
  font-family: "ralewayregular"

.text-caption
  font-size: 1.2rem
  font-family: "ralewayitalic"

.text-wallet-heading
  font-size: 1.25rem
  font-family: 'ralewayregular'

.text-wallet-topline
  font-size: 0.88rem
  font-family: 'heveticaneue'
  
.text-wallet-bottomline
  font-size: 0.88rem
  font-family: 'ralewayregular'
